{% extends 'base_lk.html' %}
{% block content %}

<main class="container mt-3 pb-5">
    <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
        <div class="card-body px-3 pb-4">
            <h1 class="h4 pt-2 pb-3">Мое резюме</h1>
        </div>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col-12 col-md-12">
                <div class="form-group pb-2">
                    <form method="post">
                        {% csrf_token %}
                        {% include 'includes/forms.html' with form=form %}
                        <button type="submit" name="sub" class="btn btn-primary">Сохранить</button>
                    </form>


                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}